<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>

    <body>
        <%- include("./partials/navbar") %>
            <div class="container">
                <h1>This is a Temp file (EJS) <%= 4 + 5 + 1%>
                </h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, praesentium. Aut, facere debitis.
                    Ab iure
                    nihil voluptatum, eaque expedita aut consectetur. Ipsa quaerat saepe necessitatibus dolores
                    excepturi! Expedita,
                    enim quaerat. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus nam modi, debitis
                    cupiditate magni nihil fuga deleniti aliquid facilis mollitia consequatur iusto molestias ut
                    repudiandae minus et nesciunt, dolores perspiciatis. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Nobis delectus aut nesciunt saepe maiores culpa vero, quam, nihil, neque fuga
                    blanditiis. Consectetur voluptate iusto suscipit alias necessitatibus in cum repellat? Lorem ipsum
                    dolor sit, amet consectetur adipisicing elit. Ratione quasi quidem velit. Magnam totam aspernatur
                    alias sed voluptas doloremque consectetur, corporis itaque, sapiente soluta, deserunt doloribus
                    porro! Assumenda, velit doFlore.
                </p>
            </div>

    </body>

</html>