<!DOCTYPE html>
<html lang="en">


<%- include("./partials/head")%>
<body>
    <%- include("./partials/navbar") %>
    <div class="container">
        <h1>We are sorry, we couldn't find <%= title %> subreddit</h1>
    </div>
</body>
</html>